
NYS_Thruway_Origin_and_Destination_Points_for_All_Vehicles_-_1_Hour_Intervals__2015.csv
NYS_Thruway_Origin_and_Destination_Points_for_All_Vehicles_-_1_Hour_Intervals__2016.csv
NYS_Thruway_Origin_and_Destination_Points_for_All_Vehicles_-_1_Hour_Intervals__2017.csv
NYS_Thruway_Origin_and_Destination_Points_for_All_Vehicles_-_1_Hour_Intervals__2019.csv
NYS_Thruway_Origin_and_Destination_Points_for_All_Vehicles_-_1_Hour_Intervals__2018.csv
NYS_Thruway_Origin_and_Destination_Points_for_All_Vehicles_-_1_Hour_Intervals__2020.csv
Master_toll_list.csv
rel_use_time_class.csv
Relative_Usage_Over_Time_by_Type.png
segment_data.csv
Segment_Usage.png
Thruway_Pair_Data.csv
toll_data_built.csv
Usage_Over_Time_by_Type.png
